@{
    ViewData["Title"] = "Home Page";
    
}
<style>
    body{
        background-color:black;
    }
    .display-4{
        color:white;
        font-weight:500;
    }
    p {
        color: white;
        font-weight: 500;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Cửa Hàng Điện Thoại</h1>
    <p>Chào mừng bạn đến với cửa hàng điện thoại siêu rẻ, siêu bền, siêu hot, siêu đẹp.</p>
</div>
<div class="Background">
    <img src="https://previews.123rf.com/images/artphoto13/artphoto131904/artphoto13190400034/122878518-paper-art-of-smartphone-for-online-shopping-your-text-space-background-shopping-cart-floating-on-mob.jpg" />
</div>
