body {
}
.content {
    margin: 70px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
}
.item img {
    width: 200px;
    height: 200px;
}

.item:hover img {
    transform: scale(1.1);
}
p {
    color: black;
    font-size: 20px;
}
p.name{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-right: 5rem;
}


